.main--margin {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main__title--size {
    -unity-font-style: bold;
    font-size: 20px;
}

.main__title--margin {
    margin-bottom: 10px;
}

.main__item--margin {
    margin-bottom: 10px;
}

.preference-section__title--font-style {
    -unity-font-style: bold;
}
